.header-title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-player-and-computer{
    display: flex;
    justify-content: space-between;
}

/* player-instructions */
/* block-player-and-computer */

.container-player-and-computer{
    display: flex;
    justify-content: space-between;
}

.player{
    margin-left: 5%;
}

.computer{
    margin-right: 5%;
}

button{
    margin-bottom: 5%;
    padding: 4% 8%;
}

.button-clicked{
    background-color: rgb(70, 70, 70);
    color: white;
    transform: scale(1.1);
}

.rock:hover, 
.paper:hover, 
.scissors:hover, 
.new-game:hover{
    background-color: grey;
    color: white;
    transform: scale(1.1);
}

.container-choice{
    display: flex;
    justify-content: space-between;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2%; */
}

.overall-wins, 
.overall-losses, 
.overall-ties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding: 2%;
    margin-top: 5%;
}

.new-game{
    padding: 1% 2%;
    margin-left: 5%;
    margin-top: 5%;
}

.final-results{
    margin-top: 5%;
    margin-left: 2%;
    font-size: larger;
    font-weight: bold;
}
